NODE_ENV=development
PORT=5000

DATABASE_URL="postgres://dafsfa:sk_R89uErMBZnq34ml84dV3e@db.prisma.io:5432/postgres?sslmode=require"
BETTER_AUTH_SECRET=aV53jXdhgjs783434gq912133Kd8hGaE66666NvUa
BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app

ACCESS_TOKEN_SECRET=accesssecret
REFRESH_TOKEN_SECRET=refreshsecret
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d

EMAIL_SENDER_SMTP_USER=info.mamun@gmail.com
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=mamun333089@gmail.com

GOOGLE_CLIENT_ID=1764363278496523-.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-_u347834g4ICi4d_Kn
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/callback/google

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
SUPER_ADMIN_EMAIL=mamun333089@gmail.com
SUPER_ADMIN_PASSWORD=12345678

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL="redis://127.0.0.1:6379"